<form class="add-track-form" action="/user/dashboard" method="POST">
    <label for="error">{{status}}</label>
    <label for="id">Artist</label>
    <input type="text" name="artist" placeholder="Enter artist" required>
    <label for="track">Track</label>
    <input type="text" name="track" placeholder="Enter track name" required>
    <button type="submit">Submit</button>
</form>