<img src="../img/spotify-logo.png" alt="spotify-logo">
    <form class ="login-form" action="/user/login" method="POST">
    <label for="error">{{status}}</label>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">
        <div><button type="submit">Login</button>
        <a href="/user/register">Register</a>
        </div>
    </form>